@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-bank-gradient: #0179FE;

  --color-gray-25: #FCFCFD;
  --color-gray-200: #EAECF0;
  --color-gray-300: #D0D5DD;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-900: #101828;

  --color-black-1: #00214F;
  --color-black-2: #344054;

  --background-bank-gradient: linear-gradient(90deg, #0179FE 0%, #4893FF 100%);

  --shadow-form: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --shadow-chart: 0px 1px 3px rgba(16, 24, 40, 0.10),
                  0px 1px 2px rgba(16, 24, 40, 0.06);
  --shadow-profile: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
                    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-creditCard: 8px 10px 16px rgba(0, 0, 0, 0.05);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@utility text-10 { @apply text-[10px] leading-[14px]; }
@utility text-12 { @apply text-[12px] leading-[16px]; }
@utility text-14 { @apply text-[14px] leading-[20px]; }
@utility text-16 { @apply text-[16px] leading-[24px]; }
@utility text-18 { @apply text-[18px] leading-[22px]; }
@utility text-20 { @apply text-[20px] leading-[24px]; }
@utility text-24 { @apply text-[24px] leading-[30px]; }
@utility text-26 { @apply text-[26px] leading-[32px]; }
@utility text-30 { @apply text-[30px] leading-[38px]; }
@utility text-36 { @apply text-[36px] leading-[44px]; }

@utility flex-center {
  @apply flex items-center justify-center;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { scrollbar-width: none; -ms-overflow-style: none; }

  .custom-scrollbar::-webkit-scrollbar { width: 3px; height: 3px; }
  .custom-scrollbar::-webkit-scrollbar-track { background: #ddd; }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
  }
}

@layer components {
  
  /* Footer */
  .footer {
    @apply flex cursor-pointer
           items-center justify-between
           gap-2 py-6;
  }

  .footer_name,
  .footer_name-mobile {
    @apply flex size-10 items-center
           justify-center rounded-full bg-gray-200;
  }

  .footer_email,
  .footer_email-mobile {
    @apply flex flex-1 flex-col justify-center;
  }

  .footer_name,
  .footer_email {
    @apply max-xl:hidden;
  }

  .footer_image {
    @apply relative size-5
           max-xl:flex max-xl:w-full
           max-xl:items-center max-xl:justify-center;
  }
  
  /* Headers */
  .header-2 {
    @apply text-18 font-semibold text-gray-900;
  }

  /* Inputs */
  .input-class {
    @apply text-16 rounded-lg border border-gray-300
           text-gray-900 placeholder:text-gray-500;
  }

  /* Buttons */
  .view-all-btn {
    @apply text-14 rounded-lg border border-gray-300
           px-4 py-2.5 font-semibold text-gray-700;
  }

  /* Total Balance */
  .total-balance {
    @apply flex w-full items-center gap-4 rounded-xl
           border border-gray-200 p-4
           shadow-[var(--shadow-chart)]
           sm:gap-6 sm:p-6;
  }

  .total-balance-label {
    @apply text-14 font-medium text-gray-600;
  }

  .total-balance-amount {
    @apply flex-1 text-24 font-semibold text-gray-900 lg:text-30;
  }

  /* Bank Card */
  .bank-card {
    @apply relative flex h-[190px] max-w-[320px]
           justify-between rounded-[20px]
           border border-white
           bg-[var(--background-bank-gradient)]
           shadow-[var(--shadow-creditCard)]
           backdrop-blur-[6px];
  }

  .bank-card_content {
    @apply relative z-10 flex max-w-[228px] flex-col
           justify-between rounded-l-[20px]
           bg-[var(--background-bank-gradient)]
           px-5 pt-5 pb-4;
  }

  .bank-card_icon {
    @apply flex flex-1 flex-col items-end justify-between
           rounded-r-[20px]
           bg-[var(--background-bank-gradient)]
           py-5 pr-5;
  }

  /* Category Badge */
  .category-badge {
    @apply flex-center gap-1 truncate w-fit
           rounded-2xl border-[1.5px]
           py-[2px] pl-1.5 pr-2;
  }
  .home {
    @apply flex w-full max-xl:max-h-screen
           max-xl:overflow-y-scroll;
  }

  .home-content {
    @apply flex flex-1 flex-col gap-8
           px-5 py-7 sm:px-8 lg:py-12
           xl:max-h-screen xl:overflow-y-scroll;
  }

  .home-header {
    @apply flex flex-col justify-between gap-8;
  }

  .right-sidebar {
    @apply hidden h-screen w-[355px]
           flex-col border-l border-gray-200
           xl:flex xl:overflow-y-scroll;
  }

  .profile-img {
    @apply flex-center absolute -top-8 size-24
           rounded-full bg-gray-100 border-8 border-white
           shadow-[var(--shadow-profile)];
  }

   /* Sidebar */
   .sidebar {
    @apply sticky top-0 hidden h-screen
           flex-col justify-between
           border-r border-gray-200
           bg-white pt-8
           max-md:hidden xl:flex
           sm:p-4 xl:p-6 2xl:w-[355px];
  }

  .sidebar-logo {
    @apply text-[26px] font-bold
           text-black-1 max-xl:hidden;
  }

  .sidebar-link {
    @apply flex items-center gap-3
           rounded-lg py-1
           justify-center xl:justify-start
           md:p-3 2xl:p-4;
  }

  .sidebar-label {
    @apply text-16 font-semibold
           text-black-2 max-xl:hidden;
  }
}
